* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100%;
}

.msg>main {
    padding: 0;
    margin: 0;
}

.navbar {
    width: 10%;
    position: fixed;
    top: 15px;
    right: 30px;
    z-index: 20;
    text-align: right;
}

.navbar a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    place-items: center;
    background-image: url(./hpp.jpg);
    background-size: 100% 100%;
}

main .container {
    width: 100%;
    height: 100%;
    background: #8386db;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #8386db 1%, #5057d8 44%, #383de0 65%, #383ee2 81%, #383ee2 81%, #161ae5 100%);
    background: -webkit-linear-gradient(45deg, #8386db 1%, #5057d8 44%, #383de0 65%, #383ee2 81%, #383ee2 81%, #161ae5 100%);
    background: linear-gradient(45deg, #8386db 1%, #5057d8 44%, #383de0 65%, #383ee2 81%, #383ee2 81%, #161ae5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8386db', endColorstr='#161ae5', GradientType=1);
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

body>section {
    display: grid;
    place-items: center;
    margin: 3rem 0;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.display {
    background-color: #FF9090;
    height: 100%;
    width: 70%;
}

.search>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px 20px 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

form>label {
    width: max-content;
    height: max-content;
    font-weight: 500;
}

.search>form>input {
    width: 100%;
    height: 25px;
    margin-block: 10px;
    outline: none;
    font-size: 13px;
    border: 1px solid #464646;
    padding: 5px;
    color: #464646;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.5s;
    font-weight: normal;
}

.search>form>input:focus {
    border: 1px solid #FF9090;
    padding: 5px;
    background-color: white;
    color: #FF9090;
    border: 2px solid #FF9090;
}

.search>form>input:focus::placeholder {
    color: #FF9090;
}

.search>form>button {
    background-color: #d5d5d5;
    border: 0px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    outline: none;
    padding: 10px 30px;
    border-radius: 7px;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.search>form>button:hover {
    background-color: #FF9090;
    color: #fff;
}

.display {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display .profile {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    position: relative;
    background-image: url('/static/user.webp');
    background-size: 100% 100%;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.display .profile::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 110%;
    border-radius: 50%;
    border: 2px double #fff;
}

.display .data {
    width: max-content;
    color: #fff;
}

.label {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    color: #464646;
    text-transform: capitalize;
}

.label>div:first-child {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.delete {


    cursor: pointer;
}

.message {
    display: grid;
    grid-template-rows: 5fr 4fr;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffa0;
    border-radius: 10px;
    width: max-content;
    padding: 1rem;
    height: 25%;
}

.message>.alert {
    color: rgb(19, 19, 19);
    font-size: 1.25rem;
    font-weight: 500;
}

.message a {
    text-decoration: none;
    margin-bottom: 10px;
    color: #4b4fce;
    background-color: #d5d5d5;
    border: 0px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    outline: none;
    padding: 10px 10px;
    border-radius: 7px;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.delete div {
    font-size: 1.25rem;
    font-weight: 600;
}

.delete a {
    text-decoration: none;
}

.delete button,
.delete a {
    background-color: #d5d5d5;
    border: 0px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    outline: none;
    padding: 10px 10px;
    border-radius: 7px;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.delete a {
    background-color: #d5d5d5;
    color: black;
}

.delete>button:hover {
    background-color: #FF9090;
    color: #fff;
}