body{
  overflow-x: hidden;
}
.h1{  
  text-align: center;
} 
.navbar-brand{
    color: #f16c6c !important;
  }
  a.btn-red{
    color: #fff;
    background-color: #f16c6c;
    border-color: #f16c6c;
}
a.btn-red:hover{
  color: #ffff;
    background-color: #c65757;
    border-color: #c65757;
}
.bg {
    max-width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url(./hpp.jpg);
    background-size: 100% 100%;
    height: 100vh;
    position: relative;
}
.btn-outline-danger{
  border-color: #f16c6c;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.card {
    background-color: rgba(17, 25, 40, 0.858)!important;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

  .h{
    text-align: center;
    font-size: 50px;
    padding-top: 260px;
  }
  .btn{
    margin-left: 40%;
    margin-right: auto;
  }
  .navbar .navbar-expand-lg .navbar-light{
    margin-left: 60%;
  }
  .card-body
  {
    min-height: 300px;
  }